* {
	box-sizing: border-box;
}
body {
	margin: 2% 1% auto 1%;
	font-family: 'Futura', sans-serif;
	font-weight: normal;
}
@font-face {
	font-family: 'Futura';
	font-weight: normal;
	src: url('fonts/FUTURAN.TTF')
}
@font-face {
	font-family: 'Futura';
	font-weight: bold;
	src: url('fonts/FUTURAM.TTF')
}



/* LAYOUT */

header{
	margin-bottom: 3.5%;
	padding-left: 10%;
}
footer {
	text-align: center;
	clear: both;
}
@media all and (min-width: 990px) {

	.container {
		width: 60%;
		height: 700px;
		float: left;
	}
	.container:last-of-type {
		width: 40%;
		min-width: 350px;
		/*float: right;*/
		padding-right: 10%;
	}
}
@media all and (max-width: 990px) {

	footer {
		padding-top: 3%;
	}
	.container {
		width: 100%;
		height: 750px;
		float: left;
	}
	.container:last-of-type {
		width: 85%;
		height: auto;
		margin-left: 10%;
		/*float: right;*/
	}
}

/* END LAYOUT */




/* THE CLOCK */

#clock {
	min-width: 610px;
	/*margin: 80px 0 90px 0;*/

}
.circle {
	width: 600px;
	height: 600px;
	margin: auto;
	position: relative;
	background-color: #ccc;
	border-radius: 50%;
}
.circle:before {
	content: "";
	width: 600px;
	height: 600px;
	margin: -2px -2px;
	position: absolute;
	z-index: 2;
	border: 2px solid #fff;
	border-radius: 50%;
}

.buttons {
	/*min-width: 600px;*/
	width: 60px;
	height: 30px;
	margin: auto;
	position: relative;
	z-index: 1;
}
button {
	width: 60px;
	height: 30px;
	position: relative;
	transform-origin: 50% 338px;
	background-color: #ccc;
	color: #fff;
	border: none;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
button:active {
	top: 2px;
	height: 28px;
}
.circle div > div {
	background: #fff;
}
.Mmarks {
	width: 1px;
	margin: auto;
}
.Mmarks div {
	width: 1px;
	height: 10px;
	position: absolute;
	margin: 10px auto;
	transform-origin: 1px 290px;
}
.Mmarks div:nth-of-type(1)  { height: 20px;}
.Mmarks div:nth-of-type(2)  { transform: rotate(6deg);                   }
.Mmarks div:nth-of-type(3)  { transform: rotate(12deg);                  }
.Mmarks div:nth-of-type(4)  { transform: rotate(18deg);                  }
.Mmarks div:nth-of-type(5)  { transform: rotate(24deg);                  }
.Mmarks div:nth-of-type(6)  { transform: rotate(30deg); height: 20px;    }
.Mmarks div:nth-of-type(7)  { transform: rotate(36deg);                  }
.Mmarks div:nth-of-type(8)  { transform: rotate(42deg);                  }
.Mmarks div:nth-of-type(9)  { transform: rotate(48deg);                  }
.Mmarks div:nth-of-type(10) { transform: rotate(54deg);                  }
.Mmarks div:nth-of-type(11) { transform: rotate(60deg); height: 20px;    }
.Mmarks div:nth-of-type(12) { transform: rotate(66deg);                  }
.Mmarks div:nth-of-type(13) { transform: rotate(72deg);                  }
.Mmarks div:nth-of-type(14) { transform: rotate(78deg);                  }
.Mmarks div:nth-of-type(15) { transform: rotate(84deg);                  }
.Mmarks div:nth-of-type(16) { transform: rotate(90deg); height: 20px;    }
.Mmarks div:nth-of-type(17) { transform: rotate(96deg);                  }
.Mmarks div:nth-of-type(18) { transform: rotate(102deg);                 }
.Mmarks div:nth-of-type(19) { transform: rotate(108deg);                 }
.Mmarks div:nth-of-type(20) { transform: rotate(114deg);                 }
.Mmarks div:nth-of-type(21) { transform: rotate(120deg); height: 20px;   }
.Mmarks div:nth-of-type(22) { transform: rotate(126deg);                 }
.Mmarks div:nth-of-type(23) { transform: rotate(132deg);                 }
.Mmarks div:nth-of-type(24) { transform: rotate(138deg);                 }
.Mmarks div:nth-of-type(25) { transform: rotate(144deg);                 }
.Mmarks div:nth-of-type(26) { transform: rotate(150deg); height: 20px;   }
.Mmarks div:nth-of-type(27) { transform: rotate(156deg);                 }
.Mmarks div:nth-of-type(28) { transform: rotate(162deg);                 }
.Mmarks div:nth-of-type(29) { transform: rotate(168deg);                 }
.Mmarks div:nth-of-type(30) { transform: rotate(174deg);                 }
.Mmarks div:nth-of-type(31) { transform: rotate(180deg); height: 20px;   }
.Mmarks div:nth-of-type(32) { transform: rotate(-174deg);                }
.Mmarks div:nth-of-type(33) { transform: rotate(-168deg);                }
.Mmarks div:nth-of-type(34) { transform: rotate(-162deg);                }
.Mmarks div:nth-of-type(35) { transform: rotate(-156deg);                }                 
.Mmarks div:nth-of-type(36) { transform: rotate(-150deg); height: 20px;  }
.Mmarks div:nth-of-type(37) { transform: rotate(-144deg);                }
.Mmarks div:nth-of-type(38) { transform: rotate(-138deg);                }
.Mmarks div:nth-of-type(39) { transform: rotate(-132deg);                }
.Mmarks div:nth-of-type(40) { transform: rotate(-126deg);                }
.Mmarks div:nth-of-type(41) { transform: rotate(-120deg); height: 20px;  }
.Mmarks div:nth-of-type(42) { transform: rotate(-114deg);                }
.Mmarks div:nth-of-type(43) { transform: rotate(-108deg);                }
.Mmarks div:nth-of-type(44) { transform: rotate(-102deg);                }
.Mmarks div:nth-of-type(45) { transform: rotate(-96deg);                 }
.Mmarks div:nth-of-type(46) { transform: rotate(-90deg); height: 20px;   }
.Mmarks div:nth-of-type(47) { transform: rotate(-84deg);                 }
.Mmarks div:nth-of-type(48) { transform: rotate(-78deg);                 }
.Mmarks div:nth-of-type(49) { transform: rotate(-72deg);                 }
.Mmarks div:nth-of-type(50) { transform: rotate(-66deg);                 }
.Mmarks div:nth-of-type(51) { transform: rotate(-60deg); height: 20px;   }
.Mmarks div:nth-of-type(52) { transform: rotate(-54deg);                 }
.Mmarks div:nth-of-type(53) { transform: rotate(-48deg);                 }
.Mmarks div:nth-of-type(54) { transform: rotate(-42deg);                 }
.Mmarks div:nth-of-type(55) { transform: rotate(-36deg);                 }
.Mmarks div:nth-of-type(56) { transform: rotate(-30deg); height: 20px;   }
.Mmarks div:nth-of-type(57) { transform: rotate(-24deg);                 }
.Mmarks div:nth-of-type(58) { transform: rotate(-18deg);                 }
.Mmarks div:nth-of-type(59) { transform: rotate(-12deg);                 }
.Mmarks div:nth-of-type(60) { transform: rotate(-6deg);                  }

.DSmarks {
	width: 1px;
	margin: auto;
}
.DSmarks div {
	width: 1px;
	height: 6px;
	position: absolute;
}
div.DSmarks div {
	transform-origin: 1px 300px;
}
div.DSmarks div:nth-of-type(2)  { transform: rotate(36deg);   }
div.DSmarks div:nth-of-type(3)  { transform: rotate(72deg);   }
div.DSmarks div:nth-of-type(4)  { transform: rotate(108deg);  }
div.DSmarks div:nth-of-type(5)  { transform: rotate(144deg);  }
div.DSmarks div:nth-of-type(6)  { transform: rotate(180deg);  }
div.DSmarks div:nth-of-type(7)  { transform: rotate(-144deg); }
div.DSmarks div:nth-of-type(8)  { transform: rotate(-108deg); }
div.DSmarks div:nth-of-type(9)  { transform: rotate(-72deg);  }
div.DSmarks div:nth-of-type(10) { transform: rotate(-36deg);  }

#dSeconds, #seconds, #minutes, #hours {
	width: 3px;
	background: #000;
	margin: auto;
	position: relative;
	animation-name: rotate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
#dSeconds {
	height: 10px;
	transform-origin: 2px 300px;
	animation-duration: 1s;
}
#seconds {
	height:120px;
	transform-origin: 2px 290px;
	animation-duration: 60s;
}			
#minutes {
	height: 90px;
	transform-origin: 2px 170px;
	animation-duration: 3600s;
}			
#hours {
	height: 80px;
	transform-origin: 2px 80px;
	animation-duration: 43200s;
}

@keyframes rotate {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
@keyframes hours {
	0% { transform: rotate(0deg) }
	8.33% { transform: rotate(30deg) }
	16.66% { transform: rotate(60deg) }
}

/* END OF THE CLOCK */




/* THE REST */

h1, h2, h3 {
	font-weight: bold;
	margin-bottom: .12em;
}

h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 1em;
}
h2 a:last-of-type {
	content: "Fork on Github";
	width: 400px;
	padding: 6px 0 6px 0;
	position: fixed;
	top: 49px;
	right: -135px;
	transform: rotate(45deg);
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	background: #abcdef;
	z-index: 999;
}
h2 a:last-of-type:visited {
	color: #000;
}
a {
	text-decoration: none;
	color: #abcdef;
}
header a:first-of-type:hover {
	padding-bottom: 3px;
	border-bottom: 1px dotted #abcdef;
}